<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .tab-button {
      padding: 6px 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid #ccc;
      cursor: pointer;
      background: #f0f0f0;
      margin-bottom: -1px;
      margin-right: -1px;
    }
    .tab-button:hover {
      background: #e0e0e0;
    }
    .tab-button.active {
      background: #e0e0e0;
    }
    .tab {
      border: 1px solid #ccc;
      padding: 10px;
    }
  </style>
  <title>component</title>
  <script src="../../static/js/vue.js"></script>
</head>
<body>
  <div id="blog-post-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post
        v-for="post in posts"
        :key="post.id"
        :post="post"
        @enlarge-text="enlargeText"
      >
      </blog-post>
    </div>
  </div>

  <div id="custom-input">
    <p>{{ searchText }}</p>
    <custom-input v-model="searchText"></custom-input>
  </div>

  <div id="dynamic-tab-component" class="demo">
    <button
     v-for="tab in tabs"
     :key="tab"
     :class="['tab-button', {active: currentTab === tab}]"
     @click="currentTab = tab"
    >
      {{ tab }}
    </button>

    <component :is="currentTabComponent" class="tab"></component>
  </div>





  <script>
    Vue.component('blog-post', {
      props: ['post'],
      template: `
        <div>
          <h2>{{ post.title }}</h2>
          <button @click="$emit('enlarge-text', 0.1)">Enlarge text</button>
          <div v-html='post.content'></div>
          <br/>
        </div>
      `
    })
    var blogs = new Vue({
      el: '#blog-post-demo',
      data: {
        posts: [
          { id: 0, title: 'one title', content: 'one content' },
          { id: 1, title: 'two title', content: 'two content' },
          { id: 2, title: 'three title', content: 'three content'}
        ],
        postFontSize: 1
      },
      methods: {
        enlargeText: function (enlargeAmount) {
          this.postFontSize += enlargeAmount
        }
      }
    })


    Vue.component('custom-input', {
      props: ['value'],
      template: `
        <input
          :value="value"
          @input="$emit('input', $event.target.value)"
        >
      `
    })
    var customInput = new Vue({
      el: '#custom-input',
      data: {
        searchText: ''
      }
    })

    Vue.component('tab-home', {
      template: '<div> home component</div>'
    })
    Vue.component('tab-post', {
      template: '<div> post component</div>'
    })
    Vue.component('tab-archive', {
      template: '<div> archive component</div>'
    })
    var dynamicTabComponent = new Vue({
      el: '#dynamic-tab-component',
      data: {
        currentTab: 'home',
        tabs: ['Home', 'Post', 'Archive']
      },
      computed: {
        currentTabComponent: function () {
          return 'tab-' + this.currentTab.toLowerCase()
        }
      }
    })
  </script>
</body>
</html>